$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$mxl: 1800px;

$blue: #0054a6;
$pink: #a981e2;
$paste: #1692ea;
$light_green: #b5e48c;
$dark_blue: #0f2b3a;

// Colors
.blue {
  color: $blue;
}
.pink {
  color: $pink;
}
.dark-blue {
  color: $dark_blue;
}
